/* estilo-libros.css */

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/concepto-leer-gafas-lectura.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    opacity: 0.8; /* Ajusta este valor para cambiar la opacidad */
}

/* Estilo para la tabla */
.table {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 80% de opacidad */
    border-radius: 10px; /* Bordes redondeados, ajusta según tu preferencia */
    opacity: 0.8;
}

/* Estilo para las celdas de la tabla */
.table th,
.table td {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con 60% de opacidad */
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255); /* Fondo blanco transparente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden;
    transition: background-color 0.3s, opacity 0.3s;
}

.table th, .table thead th {
    font-weight: 600;
    text-align: left;
    color: rgb(192, 192, 192);
    border-bottom: 2px solid #ddd; /* Línea divisoria bajo el encabezado */
    padding: 12px;
}

.table td, .table tbody td {
    padding: 12px;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: rgb(192, 192, 192); /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para los botones de acción en las celdas */
.table .btn {
    margin-right: 5px;
    border-radius: 4px;
    padding: 8px 12px;
}



/* Estilo para el botón de agregar */
.btn-primary {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

/* Estilo para el botón de eliminar */
.btn-danger {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
