<!DOCTYPE HTML>
<head th:replace="fragmentos/header :: head"></head>
<body>
	<div th:insert="/fragmentos/header :: menu"> </div>
	<br>
	<div class="container mt-4">
		<br>
		<div class="card">
		  <div class="card-header">
		    Agregar Libro
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Llene los datos del formulario</h5>
		    <form th:action="@{/guardarLibro}" th:object="${libro}" method="POST">
			  
			  <!-- Aquí se agregan los mensajes de validación -->
			  <div th:if="${#fields.hasErrors('nombre')}" class="alert alert-danger">
			      <p th:errors="*{nombre}"></p>
			  </div>
			  
			  <div class="form-group">
			    <label for="exampleInput1">ID</label>
			    <input type="text" th:field="*{id}" class="form-control" placeholder="0">
			  </div>
			  
			  <!-- Agrega mensajes de validación para el campo 'nombre' -->
			  <div th:if="${#fields.hasErrors('nombre')}" class="alert alert-danger">
			      <p th:errors="*{nombre}"></p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInput1">Título</label>
			    <input type="text" th:field="*{nombre}" class="form-control" placeholder="Título">
			  </div>
			  
			  <!-- Agrega mensajes de validación para el campo 'autor' -->
			  <div th:if="${#fields.hasErrors('autor')}" class="alert alert-danger">
			      <p th:errors="*{autor}"></p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInput1">Autor</label>
			    <input type="text" th:field="*{autor}" class="form-control" placeholder="Autor">
			  </div>
			  
			  <!-- Agrega mensajes de validación para el campo 'editorial' -->
			  <div th:if="${#fields.hasErrors('editorial')}" class="alert alert-danger">
			      <p th:errors="*{editorial}"></p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInput1">Editorial</label>
			    <input type="text" th:field="*{editorial}" class="form-control" placeholder="Editorial">
			  </div>
			  
			  <!-- Agrega mensajes de validación para el campo 'anioPublicacion' -->
			  <div th:if="${#fields.hasErrors('anioPublicacion')}" class="alert alert-danger">
			      <p th:errors="*{anioPublicacion}"></p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInput1">Año de Publicación</label>
			    <input type="text" th:field="*{anioPublicacion}" class="form-control" placeholder="Año de Publicación">
			  </div>
			  
			  <!-- Agrega mensajes de validación para el campo 'genero' -->
			  <div th:if="${#fields.hasErrors('genero')}" class="alert alert-danger">
			      <p th:errors="*{genero}"></p>
			  </div>
			  <div class="form-group">
			    <label for="exampleInput1">Género</label>
			    <select th:field="*{genero}" class="custom-select" multiple="multiple" size="3">
			        <option value="Novela">Novela</option>
			        <option value="Ciencia Ficción">Ciencia Ficción</option>
			        <option value="Historia">Historia</option>
			        <option value="Romance">Romance</option>
			        <option value="Horror">Horror</option>
			        <option value="Misterio">Misterio</option>
			        <option value="Fantasia">Fantasía</option>
			        <option value="Poesia">Poesía</option>
			        <option value="Filosofia">Filosofía</option>
			        <!-- Agrega más opciones según sea necesario -->
			    </select>
			  </div>
			  <button type="submit" class="btn btn-primary">Guardar</button>
			  <a href="/listarLibros" class="btn btn-primary active" role="button" aria-pressed="true">Cancelar</a>
			</form>
		  </div>
		</div>
	</div>
</body>
</html>
